# Kconfig - bear SOC implementation
#
# Copyright (c) 2017 Alexander Kozlov <alexander.kozlov@cloudbear.ru>
#
# SPDX-License-Identifier: Apache-2.0
#

config SOC_SERIES_RISCV32_BEAR
	bool "bear SOC implementation"
	depends on RISCV32
	select SOC_FAMILY_RISCV_PRIVILEGE
	help
	  Enable support for bear SOC implementation
